.custom-input {
    position: relative;
    border: none;
    width: 100%;
}

.custom-input input {
    width: calc(100% - 2.6rem) !important;
}

.authContainer .custom-input input {
    width: 80% !important;
}

.authContainer .custom-input .custom-icon {
    margin-right: 1.5rem;
}

.custom-input .custom-icon {
    position: absolute;
    right: 0;
}

.custom-button {
    background: none;
    border: none;
}

.custom-input svg {
    color: var(--accent-color);
    scale: 1.2;
    padding: 1.1rem;
}